body {
	margin: auto 0px;
	text-align: center;
	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	position: absolute;
	background-image: url('../assets/media/milleniumFalcon.jpg');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

img {
	margin-top: 20px;
}

h3 {
	color: #ffbf00;
	font-size: 24px;
}

#card {
	margin: 0 auto;
}

.flip-container {
	perspective: 1000px;
	-webkit-perspective: 1000px;

}

.flip-container.flip .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 700px;
	height: 300px;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	background-color: #c9c9c9;
	border-radius: 20px;
	transform: rotateY(0deg);
}

.back {
	background-color: #c9c9c9;
	border-radius: 20px;
	transform: rotateY(180deg);
}

#gamerInfo{
	background: #c9c9c9;
	border-radius: 20px;
	margin-top: 10px;
	padding: 10px;
	width:700px;
	margin: 0 auto;
	font-weight: bold;
}

#gamerInfo input[type="submit" i] {
	background-color: #183159;
	color: #ffbf00; 
	padding: 10px 30px 10px 30px;
	margin: 10px;
	font-weight: bold;
	border: none;
}

#gamerInfo input[type="submit" i]:hover {
	background-color: #072048;
	color: #eeae00;
	padding: 10px 30px 10px 30px;
	margin: 10px;
	font-weight: bold;
	border: none;
}

#scoreboard ul {
	list-style: none;
	padding: 0px;

}
#scoreboard li {
	background-color: white;
	border-radius: 5px;
}
#scoreboard h4 {
	padding: 10px;
}

button {
	background-color: #183159;
	color: #ffbf00; 
	padding: 10px 30px 10px 30px;
	margin: 10px;
	font-weight: bold;
	border: none;
}

button:hover {
	background-color: #072048;
	color: #eeae00;
}

button:focus {
	outline: none;
}