body {
	margin: auto 0px;
	text-align: center;
	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	position: absolute;
	background-image: url('/media/milleniumFalcon.jpg');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

img {
	margin-top: 20px;
}

h3 {
	color: #ffbf00;
	font-size: 24px;
}

#card {
	height: 300px;
	width: 700px;
	margin: 0 auto;
	background-color: #c9c9c9;
	border-radius: 20px;
}

button {
	background-color: #183159;
	color: #ffbf00; 
	padding: 10px 30px 10px 30px;
	margin: 10px;
	font-weight: bold;
	border: none;
}